body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f0f8ff;
  color: #09447a;
}

header {
  background: #09447a;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 50px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
   width: 100px;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 20px;
  
}

h1 {
  color:#09447a;
}

footer {
  background:#09447a;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

